<h2>Reservation List</h2>

<ul *ngIf="reservations.length; else noReservations">
  <li *ngFor="let reservation of reservations">
    Guest's Name : {{ reservation.guestName }} Guest's Email :
    {{ reservation.guestEmail }} Room number :
    {{ reservation.roomNumber }} Check in : {{ reservation.checkInDate }} Check
    out : {{ reservation.checkOutDate }}
    <button (click)="deleteReservation(reservation.id)">Delete</button>
  </li>
</ul>

<ng-template #noReservations>
  <h2>No Reservation to show!</h2>
</ng-template>
