<app-home></app-home>
<hr />

<p class="my-3 lead">Add New Reservation</p>

<form [formGroup]="reservationForm" (ngSubmit)="onSubmit()">
  <div class="row mb-3">
    <div class="col">
      <label class="form-label">Check-In Date</label>
      <input class="form-control" type="date" formControlName="checkInDate" />
      <small
        class="text-danger"
        *ngIf="
          reservationForm.get('checkInDate')?.invalid &&
          reservationForm.get('checkInDate')?.touched
        "
      >
        check in date is required
      </small>
    </div>
    <div class="col">
      <label class="form-label">Check-Out Date</label>
      <input class="form-control" type="date" formControlName="checkOutDate" />
      <small
        class="text-danger"
        *ngIf="
          reservationForm.get('checkOutDate')?.invalid &&
          reservationForm.get('checkOutDate')?.touched
        "
      >
        check out date is required
      </small>
    </div>
  </div>
  <div class="row">
    <div class="col mb-3">
      <label class="form-label">Guest's Name</label>
      <input class="form-control" type="text" formControlName="guestName" />
      <small
        class="text-danger"
        *ngIf="
          reservationForm.get('guestName')?.invalid &&
          reservationForm.get('guestName')?.touched
        "
      >
        guestName is required
      </small>
    </div>
    <div class="col mb-3">
      <label class="form-label">Guest's Email</label>
      <input class="form-control" type="email" formControlName="guestEmail" />
      <small
        class="text-danger"
        *ngIf="
          reservationForm.get('guestEmail')?.invalid &&
          reservationForm.get('guestEmail')?.touched
        "
      >
        guestEmail is required
      </small>
    </div>
  </div>
  <div class="row">
    <div class="col-3 mb-3">
      <label class="form-label">Room Number</label>
      <input class="form-control" type="number" formControlName="roomNumber" />
      <small
        class="text-danger"
        *ngIf="
          reservationForm.get('roomNumber')?.invalid &&
          reservationForm.get('roomNumber')?.touched
        "
      >
        roomNumber is required
      </small>
    </div>
  </div>
  <button
    class="btn btn-primary"
    [disabled]="reservationForm.invalid"
    type="submit"
  >
    Submit
  </button>
</form>
